# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Raw data (uncomment if you don't want large CSVs tracked in git)
# Data/*.csv
